# DataBase
DB_HOST=mysql
DB_PORT=3306
DB_NAME=yii1
DB_USER=root
DB_PASSWORD=secret

# smspilot
SMS_API_KEY=XXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZXXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZ
SMS_API_URL=https://smspilot.ru/api.php
SMS_SENDER=INFORM